@import "../../../node_modules/bootstrap/scss/_variables";
 
 $login-background-color: $brand-inverse;

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $login-background-color;
  // text-align: center;
  // color: $login-background-color;
  padding: 3em;
}
